htlm {
    height: 100%;
}

body {
    background-color: white;
    margin: 0%;
    padding: 0%;

}


/** HEADER AUTRES PAGES **/

.carre-header {
    width: 70vw;
    height: 15vh;
    padding: 12px;
    margin: auto;
    background-color: #8DABCC;
}

.container-header-sm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    gap: 10px;
    margin-right: 20%;
    margin-left: 20%;
}


.container-header-md {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    gap: 10px;
    margin-right: 15%;
    margin-left: 15%;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    gap: 10px;
    margin-right: 10%;
    margin-left: 10%;
}

.square1-header {
    width: 27vw;
    height: 4vh;
    background-color: whitesmoke;
    border-radius: 1pc;
}
.square2-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27vw;
    height: 4vh;
    background-color: #5588be;
    border-radius: 1pc;
    transition: all 0s linear;
    }

.police {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #bfcad6;
}

.square2-header:hover {
    background-color: #bfcad6;
    color: #5588be;
    transition: transform 0.8s ease-in;
}
    
.square2-header:hover a {
    color: #5588be;
}


/** MAIN QUI SUIS-JE **/

main {
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    position: relative;
}

.container-photo {
    height: 50vh;
    text-align: center;
    padding-top: 5%;
    display: flex;
    justify-content: center;
    width: 50%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.container-situ {
    height: 50vh;
    padding-top: 5%;
    display: flex;
    justify-content: center;
    width: 50%;
}

.situ {
    background-color: #d9eaf4b7;
    height: 50vh;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(125, 130, 146);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

p {
    margin-left: 5px;
    margin-right: 5px;
}

/** FOOTER **/

footer {
    position: fixed;
    bottom: 0;
    font-size: x-small;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    display: flex;
    justify-content: center;
}

button {
    width: 150px;
    height: 50px;
    border-radius: 45%;
    font-weight: 600;
    background-color: #228be6;
    border-color: rgb(214, 223, 231);
}

a {
    text-decoration: none;
    color: white;
    }


/** RESPONSIVE **/


@media (max-width: 860px) {
    .police {font-size: 12px}
    main {display: block;}
    .carre-header {width: 80%;}
    .container-header-sm {margin-right: 15%;margin-left: 15%;}
    .container-header-md {margin-right: 10%;margin-left: 10%;}
    .container-header {margin-right: 5%;margin-left: 5%;}
    .container-photo {height: auto;width: 100%;padding-top: 1%;}
    .container-situ {height: auto;width: 100%;padding-top: 1%;}
    .situ {font-size: 12px;}
    img {max-width: 70%;max-height: 70%;}
}
    
@media (max-width: 500px) {
    .police {font-size: 10px}
    main {display: block;margin: 0%;}
    .carre-header {width: 90%;}
    .container-header-sm {margin-right: 10%;margin-left: 10%;}
    .container-header-md {margin-right: 5%;margin-left: 5%;}
    .container-header {margin-right: 1%;margin-left: 1%;}
    .container-photo {height: auto;width: 100%;padding-top: 1%;}
    .container-situ {height: auto;width: 100%;padding-top: 1%;}
    .situ {font-size: 12px;}
    img {max-width: 70%;max-height: 70%;}

}

@media (max-width: 460px) {
    .police {font-size: 10px}
    main {display: block; margin: 0%;}
    .carre-header {width: 100%;}
    .container-header-sm {margin-right: 0%;margin-left: 0%;}
    .container-header-md {margin-right: 0%;margin-left: 0%;}
    .container-header {margin-right: 0%;margin-left: 0%;}
    .container-photo {height: auto;width: 100%;padding-top: 1%;}
    .container-situ {height: auto;width: 100%;padding-top: 1%;}
    .situ {font-size: 12px;}
    img {max-width: 70%;max-height: 70%;}
}